<div>
  <ul>
    <li><%= comment.author.name %>: <%= comment.text %></li>
    <div>
      <% if can? :destroy, comment %>
        <%= button_to "Delete", user_post_comment_path(@post.author_id, @post.id, comment.id), method: :delete, params: { comment_id: comment.id}%>
      <% end %>
    </div>
  </ul>
</div>