<div class="user">
  <div class="userImg">
    <img src=<%=user.photo%>>
  </div>
  <div class="userInfo">
    <h1><%=user.name%></h1>
    <a class="userPosts" src="#">
      <p >Number of Posts:<%=user.posts_counter%></p>
    </a>
  </div>
</div>